.hourglass::before {
    content: "";
    background-image: url(../img/hourglass.png);
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    margin-right: 20px;
}

.ruby::before {
    content: "";
    background-image: url(../img/ruby.png);
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    margin-right: 20px;
}

